/* Style Guide
  * primary color: light blue
  * secondary color: black
*/

/* CSS Variables */

h1 {
  font-size: 4em;
  font-weight: bold;
  font-family: 'Julius Sans One', ;
}

blockquote {
  font-size: 2em;
  font-family: 'Julius Sans One', ;
  color: dodgerblue;
}

img {
  float: left;
  shape-outside: circle(50%);
  margin: 1em;
  background-color: none;
  border-radius: 50%;
  height: 300px;
  width: 300px;

  grid-column: 1 / 1;
}

footer {
  color: dodgerblue;
}

p {
  font-size: 1.5em;
}

main { 
  margin: 0 auto;
  width: 90%;
    
  display: grid;
  grid-template-columns: 1fr;
}
























/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: white;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: white;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: white;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: white;
       content: "Wide Desktop Size";
  }

}



